*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-black: #101111;
    --primary-gray: #242526;
    --primary-white: #E9ECEF;
    --accent-blue: #228BE6;
    --acent-dark-blue: #1864AB;
}

html {
    font-family: 'Inconsolata', monospace;
}

img {
    display: block;
    max-width: 100%;
}