*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --primary-black: #101111;
  --primary-gray: #242526;
  --primary-white: #E9ECEF;
  --accent-blue: #228BE6;
  --accent-dark-blue: #1864AB;
}

html {
  font-family: 'Inconsolata', monospace;
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

.blue {
  color: var(--accent-blue);
}

nav {
  color: var(--primary-white);
  font-size: 1.5625rem;
}

h2,
h3,
h4 {
  text-align: center;
}

h1 {
  color: var(--primary-white);
  font-size: 4.0025rem;
}

h2 {
  color: var(--primary-white);
  font-size: 3.051875rem;
  padding: 1em 0;
}

h3 {
  color: var(--primary-white);
  font-size: 1.953125rem;
}

h4 {
  color: var(--primary-white);
  font-size: 1.5625rem;
}

p {
  line-height: 1.3;
}

.subtitle {
  color: var(--primary-white);
  font-size: 1.953125rem;
  font-weight: 300;
}

.see-more {
  color: var(--primary-white);
  font-size: 1.25rem;
}

.about-me {
  color: var(--primary-gray);
}

.about-me-description {
  font-weight: bold;
}

.about-me-first {
  font-size: 2.44125rem;
}

.skill li {
  list-style-type: none;
  position: relative;
  color: var(--primary-white);
  font-size: 1.5625rem;
}

.skill li::before {
  content: "-";
  color: var(--accent-blue);
  font-weight: bold;
  position: absolute;
  left: -1rem;
}

.projects p {
  color: var(--primary-white);
  font-size: .84375rem;
}

.projects a {
  font-size: .90625rem;
}

.contact p {
  color: var(--primary-white);
  font-size: 1.25rem;
}

.contact .contact-drop-message {
  color: var(--primary-white);
  font-size: 2.44125rem;
}

footer {
  color: var(--primary-gray);
}

body {
  background-color: var(--primary-white);
}

main {
  background-image: url(../img/bg_img.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.logo a {
  font-size: 1.953125rem;
  font-weight: bold;
  color: var(--primary-white);
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2em;
}

nav {
  width: 100%;
  max-width: 600px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

nav ul a:link, nav ul a:visited {
  text-decoration: none;
  color: var(--primary-white);
}

nav ul a:hover {
  color: var(--accent-blue);
}

nav ul a:active {
  font-weight: bold;
}

.info-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24vh;
}

.right-col {
  width: 37%;
}

.subtitle {
  margin-bottom: 1.35em;
}

.see-more:link,
.see-more:visited {
  background-color: var(--accent-dark-blue);
  padding: 0.3em 4em;
  border-radius: 25px;
  text-decoration: none;
  -webkit-transition: background-color 140ms ease-in-out;
  transition: background-color 140ms ease-in-out;
}

.see-more:link:hover, .see-more:link:active,
.see-more:visited:hover,
.see-more:visited:active {
  background-color: var(--accent-blue);
}

.about-me {
  background-color: var(--primary-white);
  padding-bottom: 8em;
}

.about-me-description {
  max-width: 60%;
}

.about-me-first {
  margin-bottom: 0.5em;
}

.skills {
  background-color: var(--primary-black);
  padding-bottom: 8em;
}

.skills-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill {
  border: 2px solid white;
  width: 16%;
  height: 330px;
  padding: 1em;
}

.skill h3 {
  min-height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0.4em;
  line-height: 1;
}

.skill li {
  margin-left: 1.2em;
  margin-bottom: 0.2em;
}

.spacing {
  word-spacing: -10px;
}

.row-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project {
  background-color: var(--primary-gray);
  border: 1px solid var(--primary-gray);
  max-width: 49%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3em;
}

.project p {
  padding-bottom: 3em;
}

.project a {
  text-transform: uppercase;
}

.project a:link, .project a:visited {
  color: var(--primary-white);
  text-decoration: none;
  border-bottom: 1px solid var(--primary-white);
}

.project a:hover, .project a:active {
  font-weight: bold;
  border-bottom: 2px solid var(--primary-white);
}

.flex-space-bet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.github {
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  transition: -webkit-transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
}

.github:link,
.github:visited {
  border-bottom: none !important;
}

.github:hover,
.github:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.project-left {
  -o-object-fit: cover;
     object-fit: cover;
  width: 65%;
}

.project-blue {
  background-color: var(--accent-dark-blue);
  border: 1px solid var(--accent-dark-blue);
}

.project-right {
  padding: 1.5em;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact {
  background-color: var(--primary-black);
  padding-bottom: 8em;
}

.contact-drop-message {
  margin-bottom: 0.3em;
}

.contact-box {
  border: 3px solid var(--primary-white);
  padding: 2em;
}

.form-row {
  margin-bottom: 1em;
}

input {
  background-color: var(--primary-white);
  border: 2px solid var(--accent-blue);
  padding: 0.5em;
  outline: none;
}

input[name="input-form-name"], input[name="input-form-email"], input[name="input-form-subject"] {
  width: 100%;
}

input[name="input-form-submit"] {
  cursor: pointer;
  font-size: 0.9rem;
  background-color: var(--accent-blue);
  color: var(--primary-white);
  border: none;
  -webkit-transition: background-color 100ms ease-in-out;
  transition: background-color 100ms ease-in-out;
}

input[name="input-form-submit"]:hover {
  background-color: var(--accent-dark-blue);
}

.form-name,
.form-email,
.form-subject {
  width: 32.5%;
}

textarea {
  width: 100%;
  padding: 1em;
  border: 2px solid var(--accent-blue);
  resize: none;
  outline: none;
}
/*# sourceMappingURL=style.css.map */