@import "variables_and_global";
@import "typography";

body {
    background-color: var(--primary-white);
}

main {
    background-image: url(../img/bg_img.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
}

// main::before {
//     content: url(../img/polygon_first.svg);
//     position: absolute;
//     width: 300px;
//     right: 0;
//     top: 668px;
// }

//TODO media queries for polygon, 1024px, 1366px,  1920px, 2560px mby for 3840px, other resolution disappear

.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.logo {
    a {
        font-size: 1.953125rem;
        font-weight: bold;
        color: var(--primary-white);
        text-decoration: none;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
}

nav {
    width: 100%;
    max-width: 600px;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;

        a {

            &:link,
            &:visited {
                text-decoration: none;
                color: var(--primary-white);
            }

            &:hover {
                color: var(--accent-blue);
            }

            &:active {
                font-weight: bold;
            }
        }
    }
}

.info-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding-top: 12em;
    padding-top: 24vh;
}

.right-col {
    width: 37%;
}

.subtitle {
    margin-bottom: 1.35em;
}

.see-more:link,
.see-more:visited {
    background-color: var(--accent-dark-blue);
    padding: 0.3em 4em;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 140ms ease-in-out;

    &:hover,
    &:active {
        background-color: var(--accent-blue);
    }
}

.about-me {
    background-color: var(--primary-white);
    padding-bottom: 8em;
}

.about-me-description {
    max-width: 60%;
}

.about-me-first {
    margin-bottom: 0.5em;
}

.skills {
    background-color: var(--primary-black);
    padding-bottom: 8em;
}

.skills-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill {
    border: 2px solid white;
    width: 16%;
    height: 330px;
    padding: 1em;

    h3 {
        min-height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 0.4em;
        line-height: 1;
    }

    li {
        margin-left: 1.2em;
        margin-bottom: 0.2em;
    }
}

.spacing {
    word-spacing: -10px;
}

.row-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project {
    background-color: var(--primary-gray);
    border: 1px solid var(--primary-gray);
    max-width: 49%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;

    p {
        padding-bottom: 3em;
    }

    a {
        text-transform: uppercase;

        &:link,
        &:visited {
            color: var(--primary-white);
            text-decoration: none;
            border-bottom: 1px solid var(--primary-white);
        }

        &:hover,
        &:active {
            font-weight: bold;
            border-bottom: 2px solid var(--primary-white);
        }

    }
}

.flex-space-bet {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.github {
    transition: transform 100ms ease-in-out;
}

.github:link,
.github:visited {
    border-bottom: none !important;
}

.github:hover,
.github:active {
    transform: scale(1.1);
}

.project-left {
    object-fit: cover;
    min-width: 65%;
}

.project-blue {
    background-color: var(--accent-dark-blue);
    border: 1px solid var(--accent-dark-blue);
}

.project-right {
    padding: 1.5em;
    max-width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}