@import "variables_and_global";
@import "typography";

body {
    background-color: var(--primary-white);
}

main {
    background-image: url(../img/bg_img.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    // background-color: rgb(184, 125, 0);
}

header {
    display: flex;
}

.container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}

header {
    // height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
}

nav {
    width: 100%;
    max-width: 600px;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;

        a {

            &:link,
            &:visited {
                text-decoration: none;
                color: var(--primary-white);
            }

            &:hover {
                color: var(--accent-blue);
            }

            &:active {
                font-weight: bold;
            }
        }
    }
}

.info-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12em;
}

.right-col {
    width: 35%;
}

.subtitle {
    margin-bottom: 1.35em;
}

.see-more {
    background-color: var(--accent-dark-blue);
    padding: 0.3em 4em;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 140ms ease-in-out;

    &:hover {
        background-color: var(--accent-blue);
    }
}

.about-me {
    background-color: var(--primary-white);
}