@import "variables_and_global";
@import "typography";

body {
    background-color: var(--primary-white);
    overflow-x: hidden;
}

main {
    background-image: url(../img/bg_img.jpg);
    background-color: rgb(3, 3, 3);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

@media (max-width: 1024px) {
    main {
        background-image: none;
    }
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.logo {
    z-index: 99;

    a {
        white-space: nowrap !important;
        font-size: 1.953125rem;
        font-weight: bold;
        color: var(--primary-white);
        text-decoration: none;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
}

nav {
    width: 100%;
    max-width: 600px;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;

        a {

            &:link,
            &:visited {
                text-decoration: none;
                color: var(--primary-white);
            }

            &:hover {
                color: var(--accent-blue);
            }

            &:active {
                font-weight: bold;
            }
        }
    }
}

.hamburger {
    z-index: 99;
    position: absolute;
    right: 20px;
    display: none;
    width: 35px;
    cursor: pointer;

    background: none;
    outline: none;
    border: none;


    .bar,
    &::after,
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        background-color: var(--primary-white);
        margin: 6px 0;
        transition: 400ms;
    }
}

.hamburger.is-active {
    transform: scale(1.3);
}

.hamburger.is-active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active::after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.main-menu.is-active {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    padding-top: 5em;
    text-align: center;
    background-color: var(--primary-black);
    width: 100%;
    min-height: 100vh;
    z-index: 1;
    font-size: 2rem;

    li {
        margin-bottom: 1.5em;
    }
}

@media (max-width: 1023px) {
    .main-menu {
        display: none;
    }

    .hamburger {
        display: block;
    }
}

.info-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding-top: 18vh;
    min-height: 80vh;
}

.img-me-circle {
    display: none;
}

.right-col {
    width: 37%;
}

.subtitle {
    margin-bottom: 1.35em;
}

.see-more:link,
.see-more:visited {
    background-color: var(--accent-dark-blue);
    padding: 0.3em 4em;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 200ms ease-in-out;

    &:hover,
    &:active {
        background-color: var(--accent-blue);
    }
}

@media (max-width: 1024px) {
    .info-me {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 0;
        min-height: 80vh;
    }

    .left-col {
        order: 1;
        text-align: center;
    }

    .right-col {
        margin-bottom: 3em;
    }

    .img-me-circle {
        display: block;
    }

    .img-me {
        display: none;
    }

}

@media (max-width: 1024px) and (orientation: landscape) {
    .right-col {
        display: none;
    }
}

@media (max-width: 500px) {
    .main-menu.is-active {
        padding-top: 3.5em;
    }

    .logo {
        a {
            font-size: 1.3rem;
        }
    }

    .hamburger {
        transform: scale(0.7);
    }

    .hamburger.is-active {
        transform: scale(0.7);
    }


    .info-me {

        .left-col {
            h1 {
                font-size: 2rem;
            }

            .subtitle {
                font-size: 1.5rem;
            }

            .see-more {
                font-size: 1.2rem;
            }
        }
    }
}

.about-me {
    background-color: var(--primary-white);
    padding-bottom: 8em;
    position: relative;
}

.about-me::after {
    content: url(../img/polygon_first.svg);
    position: absolute;
    right: 0;
    top: -92px;
    // transform: scale(65%);
}

.about-me-description {
    max-width: 60%;
}

.about-me-text {
    margin-bottom: 1em;

    a {

        &:link,
        &:visited {
            color: var(--accent-dark-blue);
        }

        &:hover,
        &:active {
            color: var(--accent-blue);
        }
    }
}

.about-me-first {
    margin-bottom: 0.5em;
}

@media (max-width: 1366px) {
    .about-me::after {
        right: -94px;
        transform: scale(65%);
    }
}

@media (max-width: 1024px) {
    .about-me::after {
        display: none;
    }

    .about-me-description {
        max-width: 90%;
    }
}

@media (max-width: 530px) {
    .about-me-description {
        max-width: 100%;
    }
}

.skills {
    background-color: var(--primary-black);
    padding-bottom: 8em;
}

.skills-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill {
    border: 2px solid white;
    flex-basis: 240px;
    height: 340px;
    padding: 1em;
    margin: 1em;

    h3 {
        min-height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 0.4em;
        line-height: 1;
    }

    li {
        margin-left: 1.2em;
        margin-bottom: 0.2em;
    }
}

.spacing {
    word-spacing: -10px;
}

@media (max-width: 1335px) {
    .skill {
        flex-basis: 40%;
        padding: 2em;
    }

    .skills-flex {
        flex-wrap: wrap;
    }
}

@media (max-width: 600px) {
    .skill {
        flex-basis: 100%;
    }

    .skills-flex {
        flex-wrap: wrap;
    }
}

.projects {
    position: relative;
    padding-bottom: 5em;
}

.row-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects::before {
    content: url(../img/polygon_second.svg);
    position: absolute;
    top: -172px;

}

@media (max-width: 1800px) {
    .projects::before {
        transform: scale(70%);
        left: -114px;
    }
}

@media (max-width: 1024px) {
    .projects::before {
        display: none;
    }
}

.project {
    background-color: var(--primary-gray);
    border: 1px solid var(--primary-gray);
    max-width: 49%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
    overflow: hidden;

    p {
        padding-bottom: 3em;

        a {
            color: white;

            &:hover,
            &:active {
                font-weight: bold;
            }
        }
    }

    .flex-space-bet {
        a {
            text-transform: uppercase;

            &:link,
            &:visited {
                color: var(--primary-white);
                text-decoration: none;
                border-bottom: 1px solid var(--primary-white);
            }

            &:hover,
            &:active {
                font-weight: bold;
                border-bottom: 2px solid var(--primary-white);
            }

        }
    }
}

.flex-space-bet {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.github {
    transition: transform 100ms ease-in-out;
}

.github:link,
.github:visited {
    border-bottom: none !important;
}

.github:hover,
.github:active {
    transform: scale(1.1);
}

.project-left {
    object-fit: cover;
    width: 65%;
}

.project-blue {
    background-color: var(--accent-dark-blue);
    border: 1px solid var(--accent-dark-blue);
}

.project-right {
    padding: 1.5em;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 1300px) {
    .row-flex {
        flex-direction: column;
    }

    .project {
        max-width: 70%;
    }
}

@media (max-width: 1023px) {
    .project {
        max-width: 90%;
    }
}

@media (max-width: 660px) {
    .projects {
        font-weight: bold;
    }

    .project {
        width: 100%;
        position: relative;
    }

    .project-left {
        display: block;
        width: 100%;
    }

    .project-right {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
    }
}

.contact {
    background-color: var(--primary-black);
    padding-bottom: 8em;
    position: relative;
}

.contact::after {
    content: url(../img/polygon_third.svg);
    position: absolute;
    right: 0;
    top: -100.5px;
}

@media (max-width: 1800px) {
    .contact::after {
        right: -66.6px;
        transform: scale(70%);
    }
}

@media (max-width: 1024px) {
    .contact::after {
        display: none;
    }
}

.contact-drop-message {
    margin-bottom: 0.3em;
}

.contact-box {
    border: 3px solid var(--primary-white);
    padding: 2em;
}

.form-row {
    margin-bottom: 1em;
}

input {
    background-color: var(--primary-white);
    border: 2px solid var(--accent-blue);
    padding: 0.5em;
    outline: none;

    &[name="input-form-name"],
    &[name="input-form-email"],
    &[name="input-form-subject"] {
        width: 100%;
    }

    &[name="input-form-submit"] {
        cursor: pointer;
        font-size: 0.9rem;
        background-color: var(--accent-blue);
        color: var(--primary-white);
        border: none;
        transition: background-color 200ms ease-in-out;

        &:hover {
            background-color: var(--accent-dark-blue);
        }
    }
}

.form-name,
.form-email,
.form-subject {
    width: 32.5%;
}

textarea {
    width: 100%;
    padding: 1em;
    border: 2px solid var(--accent-blue);
    resize: none;
    outline: none;
}

@media (max-width: 660px) {
    .contact {
        .flex-space-bet {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .form-name,
    .form-email,
    .form-subject {
        width: 100%;
        margin-bottom: 1em;
    }

    &[name="input-form-submit"] {
        width: 100%;
    }

}


footer {
    padding: 1em;

    p {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}