*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --light-blue: #3EE9E5;
  --dark-blue: #093F68;
  --very-dark-blue: #080C20;
  --gray: #777F98;
  --red: #FF2965;
  --white: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--very-dark-blue);
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 85%;
  max-width: 1300px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  color: var(--white);
  font-weight: 800;
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.125rem;
}

p {
  color: var(--gray);
  font-size: .9375rem;
  font-weight: 500;
  line-height: 1.4;
}

.hero span {
  color: var(--light-blue);
}

.main {
  min-height: 100vh;
}

.header {
  padding: 3em 0;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: url(../img/illustration-hero-left.svg), url(../img/bg-hero-squiggle.svg), url(../img/illustration-hero-right.svg);
  background-position: left, center, right;
  background-repeat: no-repeat;
  min-height: 70vh;
}

.hero__imgs {
  display: none;
}

.hero .container--hero {
  width: 30%;
}

.hero h1 {
  margin-bottom: 0.5em;
}

.hero p {
  margin-bottom: 5em;
}

.hero__scroll {
  margin: 0 auto;
}

@media (max-width: 64rem) {
  .main {
    min-height: 40vh;
  }
  .hero {
    background-size: 30%;
    min-height: 30vh;
  }
  .container--hero {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    width: 50% !important;
  }
  header img {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media (max-width: 43.75rem) {
  .main {
    min-height: 100vh;
  }
  .container--hero {
    width: 100% !important;
  }
  .hero {
    background: none;
  }
  .hero h1 {
    font-size: 2rem;
  }
  .hero__imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1em 0 3em;
  }
  .hero__imgs img {
    max-width: 50%;
  }
  .header img {
    margin: 0 auto;
  }
}

.motivation {
  padding: 5em 0 7em;
}

.motivation__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.motivation__group {
  width: 18%;
}

.motivation__group--lower {
  margin-top: 3.5em;
}

.motivation__img {
  background-color: var(--dark-blue);
  margin-bottom: 2.5em;
  width: 150px;
  min-height: 150px;
  border-radius: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.motivation h3 {
  margin-bottom: 1.5em;
}

@media (max-width: 64rem) {
  .motivation {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    padding: 2em 0 0 0;
  }
  .motivation__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .motivation__group {
    width: 80%;
    margin: 0 auto 2.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .motivation__group--left {
    margin-left: 2em;
  }
  .motivation__group--right {
    margin-right: 2em;
  }
  .motivation__img {
    margin-bottom: 0;
  }
  .motivation__intro {
    max-width: 70%;
    margin-left: 2em;
  }
}

@media (max-width: 43.75rem) {
  .motivation {
    padding: 0;
  }
  .motivation__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 0 auto 2em;
  }
  .motivation__group--left {
    margin-left: 0em;
  }
  .motivation__group--right {
    margin-right: 0em;
  }
  .motivation__img {
    margin: 0 0 1em;
  }
  .motivation__intro {
    margin: 0;
    max-width: 100;
  }
  .motivation__intro h3 {
    margin-bottom: 1em;
  }
}

.pricing {
  margin: 5em 0 10em;
}

.pricing .container--pricing {
  width: 50%;
}

.pricing__intro {
  text-align: center;
  width: 60%;
  margin: 0 auto 5em;
}

.pricing__intro h2 {
  margin-bottom: 1em;
}

.pricing__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing__box {
  background-color: var(--dark-blue);
  min-width: 300px;
  margin: 2em;
  padding: 3em 2em;
  border-radius: 10px;
  min-height: 400px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing__box::before {
  content: url(../img/icon-free.svg);
  position: absolute;
  top: -30px;
}

.pricing__box--hl {
  background-color: var(--light-blue);
  min-height: 460px;
}

.pricing__box--hl::before {
  content: url(../img/icon-paid.svg);
  position: absolute;
  top: -40px;
}

.pricing__list {
  list-style-type: none;
}

.pricing__title {
  margin-bottom: 1em;
}

.pricing__title--hl {
  color: var(--very-dark-blue);
}

.pricing__desc {
  margin-bottom: 2em;
}

.pricing__desc--hl {
  color: var(--very-dark-blue);
}

.pricing__price {
  color: var(--white);
  margin-bottom: 0.3em;
  font-size: 2.5rem;
  font-weight: 800;
  position: relative;
}

.pricing__price--hl {
  color: var(--very-dark-blue);
}

.pricing__price--hl::after {
  content: '/month';
  position: absolute;
  font-size: .9375rem;
  font-weight: 500;
  left: 160px;
  top: 13px;
}

.pricing__item {
  color: var(--white);
  margin: 0 0 0.8em 1.5em;
  position: relative;
}

.pricing__item::before {
  content: url(../img/icon-check-light.svg);
  position: absolute;
  left: -22px;
}

.pricing__item--hl {
  color: var(--very-dark-blue);
}

.pricing__item--hl::before {
  content: url(../img/icon-check.svg);
}

@media (max-width: 43.75rem) {
  .container--pricing {
    width: 100% !important;
  }
}

.footer {
  background-image: url(../img/bg-footer-squiggle.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 50px;
  padding: 7em 0;
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__flex h2 {
  margin-bottom: 1em;
  width: 60%;
  text-align: center;
}

.footer__flex form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 40%;
  height: 40px;
}

.footer__flex input[name="input__email"] {
  outline: none;
  border: none;
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 1em 2em;
  border-radius: 50px;
  width: 68%;
  font-weight: 800;
}

.footer__flex input[name="input__email"].error {
  border: 2px solid var(--red);
}

.footer__flex input[name="input__submit"] {
  outline: none;
  border: none;
  width: 28%;
  background-color: var(--light-blue);
  border-radius: 50px;
  -webkit-transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  cursor: pointer;
}

.footer__flex input[name="input__submit"]:hover {
  background-color: var(--very-dark-blue);
  border: 2px solid var(--light-blue);
  color: var(--white);
}

.footer .input__error {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.7em auto;
  padding-left: 1em;
  font-size: .75rem;
  color: var(--red);
}

@media (max-width: 64rem) {
  .pricing {
    margin: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .pricing .container--pricing {
    width: 80%;
  }
  .pricing__intro {
    width: 80%;
  }
  .pricing__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pricing__box--hl {
    margin-top: 4em;
  }
}

@media (max-width: 64rem) and (max-width: 64rem) {
  .footer {
    background-size: 100%;
    background-position-y: 120px;
  }
  .footer form {
    min-width: 60%;
  }
}

@media (max-width: 64rem) and (max-width: 43.75rem) {
  .footer {
    padding: 0 0 4em 0;
    background-position-y: 10px;
  }
  .footer h2 {
    white-space: pre-wrap;
    font-size: 1.4rem;
    width: 80%;
  }
  .footer form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer input[name="input__email"] {
    width: 100%;
    margin-bottom: 1em;
    padding: 0.7em;
  }
  .footer input[name="input__submit"] {
    width: 100%;
    padding: 0.7em;
  }
}
/*# sourceMappingURL=style.css.map */