*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-very-dark-magenta: #512051;
    --primary-soft-pink: #EE69A4;
    --neutral-dark-grayish-magenta: #927B91;
    --neutral-light-grayish-magenta: #F7F2F7;
}

html {
    font-family: 'Spartan', sans-serif;
    font-size: .9375rem;
}

img {
    display: block;
    max-width: 100%;
}