@import "variables_and_global";
@import "typography";

body {
    background-image: url("../img/bg-pattern-top-desktop.svg"), url(../img/bg-pattern-bottom-desktop.svg);
    background-position: top left, bottom right;
    height: 100vh;
    background-repeat: no-repeat;
}

@media (max-width: 375px) {
    body {
        background-image: url("../img/bg-pattern-top-mobile.svg"), url(../img/bg-pattern-bottom-mobile.svg);
    }
}

.container {
    width: 90%;
    height: 100%;
    max-width: 1310px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 1em;
}

.upper-box {
    margin: 0em 0 4em;
    padding-top: 10em;
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    // background-color: rgb(189, 236, 93);
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}

.rating {
    background-color: var(--neutral-light-grayish-magenta);
    // background-color: rgb(255, 198, 198);
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1em 2em;
    margin-bottom: 2.4em;
}

.rating-1 {
    transform: translateX(-10em);
}

.rating-2 {
    transform: translateX(-5em);
}

.stars {
    display: flex;
    justify-content: space-between;
    margin-right: 1em;
    margin-top: -0.16875rem;
}

.rating-text {
    margin-right: 2em;
}

@media (max-width: 999px) {
    .upper-box {
        flex-direction: column;
        padding-top: 5em;
    }

    .subtitle {
        margin-bottom: 4em;
        font-size: 0.8rem;
    }

    h1 {
        font-size: 1.85rem;
    }

    main {
        width: 100%;
        text-align: center;
    }

    .rating {
        justify-content: center;
        flex-direction: column;
        margin-bottom: 1.2em;
    }

    .rating-1 {
        transform: unset;
    }

    .rating-2 {
        transform: unset;
    }

    .rating-text {
        margin-top: 1em;
    }

}

.reviews {
    display: flex;
    justify-content: space-between;
}

.review {
    background-color: var(--primary-very-dark-magenta);
    width: 31.5%;
    padding: 2.5em;
    border-radius: 10px;
}

.author-picture {
    border-radius: 50%;
    width: 40px;
    margin-right: 1em;
}

.author-info {
    display: flex;
    align-items: center;
    margin-bottom: 1.6em;
}

.verified {
    margin-top: 0.5em;
}

.review-2 {
    transform: translateY(1.2rem);
}

.review-3 {
    transform: translateY(2.4rem);
}

@media (max-width: 999px) {
    .reviews {
        flex-direction: column;
    }

    .review {
        width: 100%;
        margin-bottom: 1em;
    }

    .review-2 {
        transform: unset
    }

    .review-3 {
        transform: unset
    }

}